.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 10px;
	font-size: 24px;
	font-weight: 700;
	color: #fff;
	background: #00474b;
	border: none;
	border-radius: 6px;
}
.active {
	background: #9fe8df;
	color: #00474b;
}
